extends layout

block content
  div(class="row")
    div(class="col-md-3 col-md-offset-2")      
      div(class="jumbotron text-center")
          h4 Coach 
            span
            span= coach.coachName
          p
            a(href="/teams/#{coach.teamID}")= coach.teamCity  
            span  
            span= coach.teamName
