extends layout

block content
  div(class="row")
    div(class="col-md-6 col-md-offset-3")      
      each team in teams
        div(class="jumbotron text-center")
          h3
            p= team.teamCity
            span
              a(href="teams/#{team._id}")= team.teamName
          p Coach: 
            span
              a(href="coaches/#{team.coachId}")= team.teamCoach
          p
            a(href="/roster/#{team._id}") Roster
            
            
